<style>
    h5.avocado_sync_headline {
        font-weight: bold;
    }
    div.avocado_sync_area {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    ul.avocado_sync_ul {
        list-style-type: square;
        font-size: 14px;
    }
    div.avocado_sync_open {
        cursor: pointer;
        font-size: 14px;
    }
    div.avocado_sync_slide {
        display: none;
        padding: 5px;
        font-size: 14px;
    }
    div.avocado_sync_slide pre {
        background-color: lightgrey;
        margin: 2px;
        padding: 4px;
        font-size: 12px;
    }
    table.avocado_sync_list {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        border-collapse: collapse;
    }
    table.avocado_sync_list thead td {
        text-align: center;
        font-weight: bold;
        padding: 2px 4px 2px 4px;
        background-color: black;
        color: white;
        white-space: nowrap;
        border: 1px solid dimgrey;
    }
    table.avocado_sync_list tbody tr {
        border: 1px solid gainsboro;
    }
    table.avocado_sync_list tbody td {
        background-color: lightgrey;
        padding: 2px 4px 2px 4px;
        max-width: 180px;
        white-space: nowrap;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    table.avocado_sync_list tbody td:nth-child(n + 2) {
        min-width: 50px;
    }
    table.avocado_sync_list tbody td:nth-child(n + 2):active {
        white-space: normal;
        overflow: scroll;
    }
    table.avocado_sync_list tbody td.avocado_nosync_column {
        background-color: yellow;
    }
    div.avocado_sync_result {
        display: block;
        border: 2px dotted gray;
        padding: 10px;
    }
    div.avocado_sync_result > div {
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
    div.avocado_sync_result p {
        margin: 5px 0px 5px 0px;
        font-weight: bold;
    }
</style>

#if($output.reflectedRecordTables.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">反映されたレコード一覧</h5>
    <ul class="avocado_sync_ul">
        #foreach($table in $output.reflectedRecordTables)
        <li>
            <div>
                ${table.records.size()}件
                -
                ${table.tableName}
                #if(!$table.tableComment.equals(""))
                    / ${table.tableComment}
                #end
            </div>
            <div>
                <table class="avocado_sync_list">
                    <thead>
                    <tr>
                        <td>反映SEQ</td>
                        #foreach($column in $table.columns)
                        <td>
                            #if($column.isPrimary)
                                <u>
                            #end
                            <div class="avocado_sync_open" id="avocado_sync_open_yes_${table.tableName}_${column.columnName}">
                                ${column.columnName}
                                #if(!$column.columnComment.equals(""))
                                    / ${column.columnComment}
                                #end
                            </div>
                            <div class="avocado_sync_slide" id="avocado_sync_slide_yes_${table.tableName}_${column.columnName}">
                                ${column.columnType}
                                #if(!$column.columnCollation.equals(""))
                                    (${column.columnCollation})
                                #end
                            </div>
                            #if($column.isPrimary)
                                </u>
                            #end
                        </td>
                        #end
                    </tr>
                    </thead>
                    <tbody>
                    #foreach($record in $table.records)
                    <tr>
                        <td>
                            ${record.diffSeq}
                        </td>
                        #foreach($value in $record.values)
                            <td>
                            #set($null = "<NULL>")
                            #set($empty = "<EMPTY>")
                            #if(!$value)
                                ${null}
                            #elseif($value.equals(""))
                                ${empty}
                            #else
                                ${value}
                            #end
                            </td>
                        #end
                    </tr>
                    #end
                    </tbody>
                </table>
            </div>
        </li>
        #end
    </ul>
</div>
#end

#if($output.notReflectedRecordTables.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">反映されなかったレコード一覧</h5>
    <ul class="avocado_sync_ul">
        #foreach($table in $output.notReflectedRecordTables)
        <li>
            <div>
                ${table.tableName}
                #if(!$table.tableComment.equals(""))
                    / ${table.tableComment}
                #end
            </div>
            <div>
                <table class="avocado_sync_list">
                    <thead>
                    <tr>
                        #foreach($column in $table.columns)
                        <td>
                            #if($column.isPrimary)
                            <u>
                            #end
                            <div class="avocado_sync_open" id="avocado_sync_open_yes_${table.tableName}_${column.columnName}">
                                ${column.columnName}
                                #if(!$column.columnComment.equals(""))
                                    / ${column.columnComment}
                                #end
                            </div>
                            <div class="avocado_sync_slide" id="avocado_sync_slide_yes_${table.tableName}_${column.columnName}">
                                ${column.columnType}
                                #if(!$column.columnCollation.equals(""))
                                    (${column.columnCollation})
                                #end
                            </div>
                            #if($column.isPrimary)
                            </u>
                            #end
                        </td>
                        #end
                    </tr>
                    </thead>
                    <tbody>
                    #foreach($record in $table.records)
                        <tr>
                            #set($idx = 0)
                            #foreach($value in $record.baseValues)
                                <td>
                                #set($null = "<NULL>")
                                #set($empty = "<EMPTY>")
                                #if(!$value)
                                    ${null}
                                #elseif($value.equals(""))
                                    ${empty}
                                #else
                                    ${value}
                                #end
                                #set($idx = $idx + 1)
                                </td>
                            #end
                        </tr>
                        <tr>
                            #set($idx = 0)
                            #foreach($value in $record.compareValues)
                                #set($cls = "")
                                #if(!$record.baseValues.get($idx) && !$record.compareValues.get($idx))
                                    #set($cls = "")
                                #elseif(!$record.baseValues.get($idx) && $record.compareValues.get($idx))
                                    #set($cls = "avocado_nosync_column")
                                #elseif($record.baseValues.get($idx) && !$record.compareValues.get($idx))
                                    #set($cls = "avocado_nosync_column")
                                #elseif(!$record.baseValues.get($idx).equals($record.compareValues.get($idx)))
                                    #set($cls = "avocado_nosync_column")
                                #else
                                    #set($cls = "")
                                #end
                                <td class="${cls}">
                                #set($null = "<NULL>")
                                #set($empty = "<EMPTY>")
                                #if(!$value)
                                    ${null}
                                #elseif($value.equals(""))
                                    ${empty}
                                #else
                                    ${value}
                                #end
                                #set($idx = $idx + 1)
                                </td>
                            #end
                        </tr>
                    #end
                    </tbody>
                </table>
            </div>
        </li>
        #end
    </ul>
</div>
#end

#if($output.commandResultsBeforeCommit.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">コミット直前に実行されたコマンド結果</h5>
    <ul class="avocado_sync_ul">
        #foreach($command in $output.commandResultsBeforeCommit)
            <li>
                <div class="avocado_sync_open" id="avocado_sync_open_bc_${MdTemplateUtils.getHash($command.command)}">
                    ${command.command} (${command.code})
                </div>
                <div class="avocado_sync_slide" id="avocado_sync_slide_bc_${MdTemplateUtils.getHash($command.command)}">
                    <pre>${command.output}</pre>
                </div>
            </li>
        #end
    </ul>
</div>
#end

#if($output.commandResultsAfterCommit.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">コミット直後に実行されたコマンド結果</h5>
    <ul class="avocado_sync_ul">
        #foreach($command in $output.commandResultsAfterCommit)
            <li>
                <div class="avocado_sync_open" id="avocado_sync_open_bc_${MdTemplateUtils.getHash($command.command)}">
                    ${command.command} (${command.code})
                </div>
                <div class="avocado_sync_slide" id="avocado_sync_slide_bc_${MdTemplateUtils.getHash($command.command)}">
                    <pre>${command.output}</pre>
                </div>
            </li>
        #end
    </ul>
</div>
#end

#if($output.httpResultsBeforeCommit.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">コミット直前に実行されたHTTPコールバック結果</h5>
    <ul class="avocado_sync_ul">
        #foreach($http in $output.httpResultsBeforeCommit)
            <li>
                <div class="avocado_sync_open" id="avocado_sync_open_bc_${MdTemplateUtils.getHash($http.url)}">
                    ${http.url} (${http.status})
                </div>
                <div class="avocado_sync_slide" id="avocado_sync_slide_bc_${MdTemplateUtils.getHash($http.url)}">
                    <pre>${http.body}</pre>
                </div>
            </li>
        #end
    </ul>
</div>
#end

#if($output.httpResultsAfterCommit.size() > 0)
<div class="avocado_sync_area">
    <h5 class="avocado_sync_headline">コミット直後に実行されたHTTPコールバック結果</h5>
    <ul class="avocado_sync_ul">
        #foreach($http in $output.httpResultsAfterCommit)
            <li>
                <div class="avocado_sync_open" id="avocado_sync_open_bc_${MdTemplateUtils.getHash($http.url)}">
                    ${http.url} (${http.status})
                </div>
                <div class="avocado_sync_slide" id="avocado_sync_slide_bc_${MdTemplateUtils.getHash($http.url)}">
                    <pre>${http.body}</pre>
                </div>
            </li>
        #end
    </ul>
</div>
#end

<div class="avocado_sync_result">
    <div>
        <p>反映に利用されたサマリーID:</p>
        <label>${summaryId}</label>
    </div>
    <div>
        <p>実行モード:</p>
        #if(!$input.run)
            <label>ドライラン</label>
        #else
            <label>本実行</label>
        #end
    </div>
    <div>
        <p>強制モード:</p>
        #if(!$input.force)
            <label>比較先にのみ存在する場合は削除しない</label>
        #else
            <label>比較先にのみ存在する場合でも強制的に削除する</label>
        #end
    </div>
    <div>
        <p>差分履歴削除モード:</p>
        #if(!$input.loose)
            <label>比較元／比較先の組み合わせに関連する差分履歴を削除する</label>
        #else
            <label>指定されたサマリーIDに関連する差分履歴のみ削除する</label>
        #end
    </div>
</div>

<script type="text/javascript">
    function avocadoSyncSlider(e) {
        let id = e.target.id;
        let name = id.substring('avocado_sync_open_'.length);
        let slideId = "avocado_sync_slide_" + name;
        let slide = document.getElementById(slideId);

        if (slide.style.display == '' || slide.style.display == 'none') {
            slide.style.display = 'inline-flex';
        } else {
            slide.style.display = 'none';
        }
    }

    let syncOpenList = document.querySelectorAll('div.avocado_sync_open');
    if (syncOpenList != void(0)) {
        for (let i = 0; i < syncOpenList.length; i++) {
            syncOpenList[i].addEventListener('click', avocadoSyncSlider)
        }
    }
</script>