<div class="page-content">

    <a href="/diffConfig/list/">diffConfig</a>
    <a href="/syncConfig/list/">syncConfig</a>
    <a href="/preset/list/">preset</a>
    <a href="/project/list/">project</a>

</div>