<div class="page-title">
    <h1>DIFF CONFIG EDIT</h1>
</div>

<div class="page-content">
    <form>
        <table class="input">
            <tr>
                <td>diffConfigId</td>
                <td></td>
            </tr>
            <tr>
                <td>title</td>
                <td>
                    <div><input type="text"></div>
                </td>
            </tr>
        </table>

        <fieldset>
            <legend>option</legend>
            <table class="input">
                <tr>
                    <td>includeTableLikePatterns</td>
                    <td>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                    </td>
                </tr>
                <tr>
                    <td>excludeTableLikePatterns</td>
                    <td>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                    </td>
                </tr>
                <tr>
                    <td>ignoreAutoIncrement</td>
                    <td>
                        <label><input type="radio">false</label>
                        <label><input type="radio">true</label>
                    </td>
                </tr>
                <tr>
                    <td>ignoreComment</td>
                    <td>
                        <label><input type="radio">false</label>
                        <label><input type="radio">true</label>
                    </td>
                </tr>
                <tr>
                    <td>ignorePartitions</td>
                    <td>
                        <label><input type="radio">false</label>
                        <label><input type="radio">true</label>
                    </td>
                </tr>
                <tr>
                    <td>ignoreDefaultForSequence</td>
                    <td>
                        <label><input type="radio">false</label>
                        <label><input type="radio">true</label>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>conditions</legend>
            <table class="input">
                <tr>
                    <td>tableName / expression</td>
                    <td>
                        <div><input type="text"><input type="text"></div>
                        <div><input type="text"><input type="text"></div>
                        <div><input type="text"><input type="text"></div>
                        <div><input type="text"><input type="text"></div>
                        <div><input type="text"><input type="text"></div>
                    </td>
                </tr>
            </table>
        </fieldset>

        <div class="page-buttons">
            <input type="submit" class="btn-save" value="SAVE">
            <a class="btn-back">BACK</a>
        </div>
    </form>
</div>