<div class="page-title">
    <h1>PRESET EDIT</h1>
</div>

<script src="/asset/js/save.js" type="text/javascript"></script>
<script src="/asset/js/delete.js" type="text/javascript"></script>
<div class="page-content">
    <form method="post" action="/preset/save/">
        <table class="input">
            <tr>
                <td>
                    <div>presetId</div>
                </td>
                <td>
                    <div>
                        <p>${record.getOrEmpty("presetId")}</p>
                        #if(!$record.getOrEmpty("presetId").equals(""))
                            <input type="hidden" name="presetId" value="${record.get("presetId")}" />
                        #end
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>title <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="title" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("title"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>explanation</div>
                </td>
                <td>
                    <div><textarea name="explanation">${MdTemplateUtils.nonEscape($record.getOrEmpty("explanation"))}</textarea></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>diffConfigId <span class="warning">*required</span></div>
                </td>
                <td>
                    <select name="diffConfigId">
                    #foreach($r in $diffRecords)
                        <option value="${r.get("diffConfigId")}" ${MdTemplateUtils.selected($r.get("diffConfigId"), $record.getOrEmpty("diffConfigId"))}>${r.get("diffConfigId")}:${r.get("title")}</option>
                    #end
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div>syncConfigId <span class="warning">*required</span></div>
                </td>
                <td>
                    <select name="syncConfigId">
                        #foreach($r in $syncRecords)
                            <option value="${r.get("syncConfigId")}" ${MdTemplateUtils.selected($r.get("syncConfigId"), $record.getOrEmpty("syncConfigId"))}>${r.get("syncConfigId")}:${r.get("title")}</option>
                        #end
                    </select>
                </td>
            </tr>
        </table>

        <div class="page-buttons">
            <input type="hidden" name="${saveMode.getName()}" value="${saveMode.getValue()}" />
            <input type="submit" class="${saveMode.getCss()}" value="${saveMode.getValue()}">
            <a href="/preset/list/" class="btn-back">BACK</a>

            #if(!$record.getOrEmpty("presetId").equals(""))
                <a href="/preset/delete/?presetId=${record.get("presetId")}" class="btn-delete">DELETE</a>
            #end
        </div>
    </form>
</div>

