<div class="page-title">
    <h1>PROJECT EDIT</h1>
</div>

<script src="/asset/js/save.js" type="text/javascript"></script>
<script src="/asset/js/delete.js" type="text/javascript"></script>
<div class="page-content">
    <form method="post" action="/project/save/">
        <table class="input">
            <tr>
                <td>
                    <div>projectId</div>
                </td>
                <td>
                    <div>
                        <p>${record.getOrEmpty("projectId")}</p>
                        #if(!$record.getOrEmpty("projectId").equals(""))
                            <input type="hidden" name="projectId" value="${record.get("projectId")}" />
                        #end
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>title <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="title" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("title"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>explanation</div>
                </td>
                <td>
                    <div><textarea name="explanation">${MdTemplateUtils.nonEscape($record.getOrEmpty("explanation"))}</textarea></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>host <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="host" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("host"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>port <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="number" name="port" value="${record.getOrDefault("port", 3306)}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>user <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="user" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("user"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>pass <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="pass" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("pass"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>charset <span class="warning">*required</span></div>
                </td>
                <td>
                    <div>
                        <select name="charset">
                            #foreach($charset in ["utf8mb4", "utf8mb3", "utf8"])
                                <option value="${charset}" ${MdTemplateUtils.selected($record.getOrEmpty("charset"), $charset)}>${charset}</option>
                            #end
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>baseDatabase <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="baseDatabase" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("baseDatabase"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>compareDatabase <span class="warning">*required</span></div>
                </td>
                <td>
                    <div><input type="text" name="compareDatabase" value="${MdTemplateUtils.nonEscape($record.getOrEmpty("compareDatabase"))}" required></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>presetId</div>
                </td>
                <td>
                    #foreach($no in [0..29])
                        <div>
                            #set($disp = $no + 1)
                            ${disp}:
                            <select name="presetId${no}">
                                <option value="">---</option>
                                #foreach($p in $presetRecords)
                                    #if($presetIdMap.containsKey($no))
                                        <option value="${p.get("presetId")}" ${MdTemplateUtils.selected($p.get("presetId"), $presetIdMap.get($no))}/>${p.get("presetId")}:${p.get("title")}</option>
                                    #else
                                        <option value="${p.get("presetId")}"/>${p.get("presetId")}:${p.get("title")}</option>
                                    #end
                                #end
                            </select>
                        </div>
                    #end
                </td>
            </tr>
        </table>

        <div class="page-buttons">
            <input type="hidden" name="${saveMode.getName()}" value="${saveMode.getValue()}" />
            <input type="submit" class="${saveMode.getCss()}" value="${saveMode.getValue()}">
            <a href="/project/list/" class="btn-back">BACK</a>

            #if(!$record.getOrEmpty("projectId").equals(""))
                <a href="/project/delete/?projectId=${record.get("projectId")}" class="btn-delete">DELETE</a>
            #end
        </div>
    </form>
</div>

