<div class="page-title">
    <h1>PROJECT LIST</h1>
</div>

<div class="page-content">
    <div class="page-buttons">
        <a href="/project/edit/" class="btn-add">NEW PROJECT</a>
    </div>

    <table class="list">
        <thead>
        <tr>
            <td>-</td>
            <td>projectId</td>
            <td>title</td>
            <td>host</td>
            <td>port</td>
            <td>charset</td>
            <td>baseDatabase</td>
            <td>compareDatabase</td>
            <td>-</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="/project/edit/?projectId=1" class="btn-edit">EDIT</a>
            </td>
            <td>1</td>
            <td>aaa</td>
            <td>127.0.0.1</td>
            <td>3306</td>
            <td>utf8mb4</td>
            <td>base</td>
            <td>compare</td>
            <td>
                <a href="/project/preset/?projectId=1" class="btn-preset">PRESET</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>