<div class="page-title">
    <h1>PROJECT PRESET</h1>
</div>

<script src="/asset/js/json.js" type="text/javascript"></script>
<div class="page-content">
    <table class="input">
        <tr>
            <td>projectId</td>
            <td>
                <div>
                    <p>${record.get("projectId")}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>title</td>
            <td>
                <div>${record.get("title")}</div>
            </td>
        </tr>
        <tr>
            <td>explanation</td>
            <td>
                <div>${record.get("explanation")}</div>
            </td>
        </tr>
    </table>

    <table class="list">
        <thead>
        <tr>
            <td>presetId</td>
            <td>title</td>
            <td>explanation</td>
            <td>diffConfigId</td>
            <td>syncConfigId</td>
            <td>-</td>
        </tr>
        </thead>
        <tbody>
            #foreach($r in $recordPresetList)
            <tr>
                <td>${r.get("presetId")}</td>
                <td>${r.get("title")}</td>
                <td>${r.get("explanation")}</td>
                <td>${r.get("diffConfigId")}:${diffTitleMap.get($r.get("diffConfigId"))}</td>
                <td>${r.get("syncConfigId")}:${syncTitleMap.get($r.get("syncConfigId"))}</td>
                <td>
                    <div class="vbox">
                        <form method="post" action="/json/diff/">
                            <input type="hidden" name="projectId" value="${record.get("projectId")}" />
                            <input type="hidden" name="presetId" value="${r.get("presetId")}" />
                            <input type="submit" class="btn-json" value="MOSTLY DIFF JSON" />
                        </form>
                    </div>
                    <div class="vbox">
                        <form method="post" action="/reserve/diff/">
                            <input type="hidden" name="projectId" value="${record.get("projectId")}" />
                            <input type="hidden" name="presetId" value="${r.get("presetId")}" />
                            <input type="submit" class="btn-execute" value="GO DIFF" />
                        </form>
                    </div>
                </td>
            </tr>
            #end
        </tbody>
    </table>

    <div class="page-buttons">
        <a href="/project/list/" class="btn-back">BACK</a>
    </div>
</div>