[mysqld]
default_storage_engine=InnoDB
transaction_isolation=READ-COMMITTED
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
query_cache_size=0
max_heap_table_size=32M
tmp_table_size=32M