<div class="page-title">
    <h1>SYNC CONFIG EDIT</h1>
</div>

<div class="page-content">
    <form>
        <table class="input">
            <tr>
                <td>syncConfigId</td>
                <td></td>
            </tr>
            <tr>
                <td>title</td>
                <td>
                    <div><input type="text"></div>
                </td>
            </tr>
            <tr>
                <td>explanation</td>
                <td>
                    <div><textarea></textarea></div>
                </td>
            </tr>
            <tr>
                <td>commandsBeforeCommit (command / timeout / successCodeList)</td>
                <td>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                </td>
            </tr>
            <tr>
                <td>commandsAfterCommit (command / timeout)</td>
                <td>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                </td>
            </tr>
            <tr>
                <td>httpCallbackBeforeCommit (url / timeout / successStatusList)</td>
                <td>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                </td>
            </tr>
            <tr>
                <td>httpCallbackAfterCommit (url / timeout)</td>
                <td>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                    <div><input type="text"></div>
                </td>
            </tr>
        </table>

        <div class="page-buttons">
            <input type="submit" class="btn-save" value="SAVE">
            <a class="btn-back">BACK</a>
        </div>
    </form>
</div>