/* insert */
a.btn-insert, input.btn-insert {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid brown;
    font-size: 12px;
    color: brown;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-insert:hover, input.btn-insert:hover {
    background-color: brown;
    border-color: brown;
    color: #FFF;
}

/* edit */
a.btn-edit {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid darkblue;
    font-size: 12px;
    color: darkblue;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-edit:hover {
    background-color: darkblue;
    border-color: darkblue;
    color: #FFF;
}

/* detail */
a.btn-detail {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid cadetblue;
    font-size: 12px;
    color: cadetblue;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-detail:hover {
    background-color: cadetblue;
    border-color: cadetblue;
    color: #FFF;
}

/* preset */
a.btn-preset {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid forestgreen;
    font-size: 12px;
    color: forestgreen;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-preset:hover {
    background-color: forestgreen;
    border-color: forestgreen;
    color: #FFF;
}

/* back */
a.btn-back {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid cyan;
    font-size: 12px;
    color: cyan;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-back:hover {
    background-color: cyan;
    border-color: cyan;
    color: #FFF;
}

/* delete */
a.btn-delete {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid mediumvioletred;
    font-size: 12px;
    color: mediumvioletred;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-delete:hover {
    background-color: #ce4a9c;
    border-color: #ce4a9c;
}

/* json */
input.btn-json {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid white;
    font-size: 10px;
    color: white;
    background-color: darkgray;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
input.btn-json:hover {
    background-color: white;
    border-color: darkgray;
    color: darkgray;
}

/* execute */
a.btn-execute, input.btn-execute {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid white;
    font-size: 10px;
    color: white;
    background-color: #c77715;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
a.btn-execute:hover, input.btn-execute:hover {
    background-color: white;
    border-color: #c77715;
    color: #c77715;
}

/* update */
input.btn-update {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid navy;
    font-size: 12px;
    color: navy;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}
input.btn-update:hover {
    background-color: navy;
    border-color: navy;
    color: #FFF;
}
